/*공용*/
.basic-tit01 {
    font-size: 45px;
    font-weight: 900;
    color: #2c7ee5;
}

.cont-txt {
    font-size: 15px;
    color: #8c9395;
    line-height: 21px;
}

.sub-tit {
    color: #fff;
    padding: 280px 0 0 0;
    text-align: center;
    font-size: 48px;
}

.sub-txt {
    color: #fff;
    text-align: center;
    margin-top: 20px;
    line-height: 21px;
    font-size: 15px;
}

.base-contants .bx-wrapper {
    position: relative;
    height: 775px;
    font-weight: 800;
}

.base-contants .bx-wrapper .bx-controls {
    position: absolute;
    bottom: 30px;
    left: 50%;
}

.base-contants .bx-wrapper .bx-pager-item {
    display: inline-block;
}

.base-contants .bx-wrapper .bx-pager-item a {
    width: 11px;
    height: 11px;
    font-size: xx-small;
    color: transparent;
    background: #bcbdbd;
    border-radius: 11px;
    display: block;
    margin: 0 10px;
    ;
}

.base-contants .bx-wrapper .bx-pager-item a:hover,
.base-contants .bx-wrapper .bx-pager-item a.active {
    background: #2c7ee5;
}

.greeting {
    width: 100%;
    height: 817px;
    background:#fff url(/images/img_company1.jpg) left 0 no-repeat !important;
    padding-left: 775px;
    box-sizing: border-box;
    overflow:hidden;
}

.greeting .txt-area {
    background:#fff url(/images/bg_company1.png) 0 60px no-repeat !important;
    padding: 110px 50px 0 0;
}

.greeting .txt-area .basic-tit01 {
    text-align: right;
    margin-bottom: 35px;
}

.greeting .txt-area .txt {
    text-align: justify;
    line-height: 37px;
    font-size: 17px;
    letter-spacing: 0;
    font-family: 'Nanum Gothic';
}

.greeting .txt-area .name {
    margin-top: 20px;
    font-weight: 800;
    letter-spacing: 0;
    text-align: right;
    height: 106px;
    padding: 50px 205px 0 0;
    background: url(/images/bg_company2.png) right top no-repeat;
    font-family: 'Nanum Gothic';
}

.history {
    position: relative;
    height: 815px;
    background:#fff url(/images/img_company2.jpg) 0 0 no-repeat !important;
}

.history .dl-history {}

.history .dl-history dt {
    font-size: 60px;
    letter-spacing: -2px;
    font-weight: 700;
    margin-bottom: 10px;
}

.history .dl-history dt span {
    font-size: 27px;
    letter-spacing: 0
}

.history .dl-history dd {
    line-height: 28px;
    font-size: 15px;
    letter-spacing: 0;
    font-family: 'Nanum Gothic';
}

.history .pos1 {
    position: absolute;
    /* top: 220px; */
    left: 75px;
}

.history .pos1 dt {
    color: #ae1717;
}

.history .pos2 {
    position: absolute;
    /* top: 80px; */
    left: 377px;
}

.history .pos2 dt {
    color: #009d99;
}

.history .pos3 {
    position: absolute;
    /* top: 320px; */
    left: 675px;
}

.history .pos3 dt {
    color: #008ed1;
}

.history .pos4 {
    position: absolute;
    /* top: 150px; */
    right: 50px;
}

.history .pos4 dt {
    color: #ff3c00;
}

.certification {
    height: 982px;
    text-align: center;
    background:#fff url(/images/bg_company3.png) 0 0 no-repeat !important;
    overflow:hidden;
}

.certification .basic-tit01 {
    padding-top: 120px;
}

.certification .cont-txt {
    margin-top: 15px;
}
.certification .cert-list {
    margin-top:45px;
}
.certification .cert-list span {
    display:inline-block;
    margin-left: 7px;
}
.certification .cert-list span:first-child {
    margin-left:0;
}
.partner {
    height: 494px;
    text-align: center;
    background: url(/images/img_company4.jpg) 0 0 no-repeat;
}

.partner .basic-tit01 {
    padding-top: 70px;
}

.partner .cont-txt {
    margin-top: 15px;
}
.partner .part-list {
    margin-top: 115px;
}
.partner .part-list span {
    display:inline-block;
}
.partner .part-list span:first-child {
    margin-right: 150px;
}
.news {
    padding-bottom: 90px;
    background:#fff;
}

.news .sub-visual {
    height: 570px;
    margin-bottom: 50px;
    background: url(/images/img_new01.jpg) 0 0 no-repeat;
}

.serch-box {
    text-align: right;
    width: 1035px;
    margin: 0 auto;
}

.serch-box input {
    border: 1px solid #cbcbcb;
    width: 295px;
    height: 35px;
    box-sizing: border-box;
    padding-left: 10px;
    margin-bottom: 35px;
}

.serch-box button {
    width: 90px;
    height: 35px;
    vertical-align: top;
    color: #fff;
    background: #2c7ee5;
}

.news-list {
    width: 1035px;
    margin: 0 auto 60px;
    border-top: 1px solid #bababb;
}

.news-list li a {
    padding: 45px 0;
    display: block;
    color: #8c9395;
    border-bottom: 1px solid #bababb;
}

.news-list li a figure:after {
    content: "";
    clear: both;
    display: block;
}

.news-list li a .thumb {
    float: left;
    margin-right: 30px;
}

.news-list li a figcaption {
    float: left;
    position: relative;
    width: 77%;
}

.news-list li a figcaption .title {
    font-size: 48px;
    color: #2c7ee5;
    font-weight: 800;
    margin-bottom: 30px;
}

.news-list li a figcaption .con {
    font-size: 15px;
    line-height: 21px;
    height: 50px;
    overflow: hidden;
    width: 680px;
}

.news-list li a figcaption .date {
    position: absolute;
    bottom: 8px;
    right: 0;
}

.paging {
    text-align: center;
}

.paging .button {
    color: #fff;
    width: 90px;
    height: 35px;
    background: #2c7ee5;
}

.paging a {
    width: 35px;
    height: 35px;
    display: inline-block;
    border: 1px solid #cbcbcb;
    vertical-align: top;
    box-sizing: border-box;
    padding-top: 8px;
    color: #8c9395;
    margin: 0 3px;
}

.paging a:hover,
.paging a.active {
    border: 1px solid #2c7ee5;
    color: #2c7ee5;
}

/* 공통 */
.basic-tit02 {
    font-family: 'Nanum Gothic';
    font-size: 44px;
    font-weight: 800;
    color: #2c7ee5;
}

.hide {
    font-size: 0;
    line-height: 0;
    color: transparent;
    height: 0;
}

/* business */
.business .visual {
    height: 710px;
    padding: 298px 0 0 865px;
    background:#fff url(/images/bg_business01.png) 0 0 no-repeat !important;
}

.business .visual .basic-tit01 {
    display: block;
    margin-bottom: 5px;
    font-size: 48px;
    line-height: 1.2;
    text-align: left;
}

.business .visual .cont-txt {
    text-align: left;
}

.business .visual .ico-cont {
    margin-top: 30px;
}

.business .visual .ico-cont span {
    display: inline-block;
    margin-right: 65px;
    font-size: 15px;
    text-align: center;
    color: #8c9395;
    font-weight: 700;
    line-height: 1.2;
}

.business .visual .ico-cont span:before {
    content: '';
    display: block;
    width: 90px;
    height: 80px;
    margin-bottom: 10px;
    background: url(/images/icon_business.png) 4px 0 no-repeat;
}

.business .visual .ico-cont span:nth-child(2):before {
    background-position: -100px 0;
}

.business .visual .ico-cont span:nth-child(3):before {
    background-position: -192px 0;
}

.business .basic-tit01,
.business .basic-tit02,
.business .cont-txt {
    text-align: center;
}

.business .basic-tit01+.cont-txt {
    margin-top: 10px;
}

.business .basic-tit02+.cont-txt {
    margin-top: 20px;
}

.business .cont-img {
    text-align: center;
}

.business .cont1 {
    padding: 95px 0 120px;
    background: #efefef !important;
    text-align: center;
}


.business .cont-bs {
    margin-top: 100px;
}

.business .cont-bs>div {
    position: relative;
    display: inline-block;
    width: 272px;
    padding-top: 246px;
    background: #fff;
}

.business .cont-bs strong {
    display: block;
    height: 82px;
    line-height: 82px;
    font-size: 25px;
    font-weight: 900;
    color: #fff;
    background: #2c7ee5;
}

.business .cont-bs strong:before {
    content: '';
    display: block;
    position: absolute;
    top: 54px;
    left: 50%;
    margin-left: -75px;
    width: 150px;
    height: 150px;
    background: #fff url(/images/icon_business.png) 0 -100px no-repeat;
}

.business .cont-bs .bs2 strong:before {
    background-position: -143px -100px;
}

.business .cont-bs .bs3 strong:before {
    background-position: -295px -100px;
}

.business .cont-bs .bs4 strong:before {
    background-position: -450px -100px;
}

.business .cont-bs [class*="bs"]:hover .bs-hover {
    opacity: 1;
    transition: 0.5s all;
}

.business .cont-bs .bs-hover {
    opacity: 0;
    transition: 0.5s all;
    position: absolute;
    top: -30px;
    left: -30px;
    width: 120%;
    min-height: 390px;
    padding: 80px 30px 100px;
    background: #2c7ee5;
    color: #fff;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4)
}

.business .cont-bs .bs-hover p {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.05em;
}

.business .cont-bs .bs-hover span {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    line-height: 100px;
    font-size: 25px;
    font-weight: 900;
    color: #fff;
    background: #2c7ee5;
}

.business .cont2 {
    height: 790px;
    padding-top: 100px;
    background:url(/images/bg_business02.png) 0 0 no-repeat !important;
}

.business .cont2 .basic-tit02 {
    color: #fff;
}

.business .cont3 {
    padding: 110px 0 90px;
}

.business .cont3 .cont-img {
    width: 1120px;
    margin: 90px auto 0;
}

.business .cont3 .cont-img>span {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    text-align: center;
}

.business .cont3 .cont-img strong {
    display: block;
    width: 434px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    font-size: 23px;
    color: #fff;
    background: #2c7ee5;
    text-align: center;
}

.business .cont3 .cont-img strong em {
    font-size: 15px;
    font-style: normal;
    vertical-align: top;
}

.business .cont4 {
    padding: 125px 195px 135px;
    background: #efefef;
}

.business .cont4 .cont-img {
    margin-top: 65px;
}

.business .cont4 h3 {
    margin: 65px 0 25px;
    text-align: center;
    font-size: 24px;
    color: #2c7ee5;
    font-family: 'Nanum Gothic';
    font-weight: 800;
}

.business .cont5 {
    padding: 125px 150px 0;
}

.business .cont5 .bs-system .basic-tit01 {
    text-align: left;
}

.business .cont5 .bs-system p {
    width: 512px;
    text-align: justify;
    line-height: 24px;
}

.business .cont5 .bs-system {
    padding-right: 50%;
    height: 420px;
    background: url(/images/bg_business03.png) 100% 0 no-repeat;
}

.business .cont5 .bs-info {
    margin: 0 -150px;
    height: 524px;
    padding: 235px 132px 0;
    background: url(/images/bg_business04.png) 0 bottom no-repeat;
}

.business .cont5 .bs-info dl {
    display: inline-block;
    width: 490px;
    margin: 0 30px;
    color: #fff;
    font-size: 23px;
    text-align: center;
}

.business .cont5 .bs-info dt {
    margin-bottom: 16px;
    font-weight: 600;
}

.business .cont5 .bs-info dd {
    line-height: 52px;
}

.contact .sub-visual {
    height: 570px;
    background: url(/images/bg_contact.png) 0 0 no-repeat;
}

.contact .cont1 {
    padding: 140px 132px;
}

.contact .cont1:after {
    content: '';
    display: block;
    clear: both;
}

.contact .cont-form {
    float: left;
    display: table;
    width: 615px;
    padding: 24px 45px 30px;
    background: #8c9395;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4)
}

.contact .cont-form li {
    margin: 25px 0;
}

.contact .cont-form label {
    display: table-cell;
    vertical-align: middle;
    width: 65px;
    text-align: justify;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
}

.contact .cont-form input,
.contact .cont-form textarea {
    width: 100%;
    height: 36px;
    padding: 0 10px;
    border: 1px solid #a9aaab;
    background: #fff;
}

.contact .cont-form textarea {
    height: 248px;
    padding: 10px;
}

.contact .cont-form span {
    display: table-cell;
    padding-left: 20px;
    width: 420px;
}

.btn-style {
    display: block;
    margin: 30px auto 0;
    width: 90px;
    height: 34px;
    background: #281f1c;
    color: #fff;
    font-size: 15px;
}

.contact .cont-info {
    float: right;
    width: 415px;
}

.contact .cont-info ul {
    margin-top: 30px;
}

.contact .cont-info li {
    margin-top: 12px;
}

.contact .cont-info li span {
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    color: #8c9395;
    line-height: 26px;
}

.contact .cont-info li span:before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 28px;
    margin-right: 10px;
    background: url(/images/ico_contact.png) 0 0 no-repeat;
    vertical-align: middle;
}

.contact .cont-info li span.ico2 {
    width: 182px;
}

.contact .cont-info li span.ico2:before {
    background-position: -30px 0;
}

.contact .cont-info li span.ico3:before {
    background-position: -60px 0;
}

.contact .cont-info li span.ico4:before {
    background-position: -90px 0;
}

.contact .cont-info .map-box {
    margin-top: 30px;
    border-bottom: 1px solid #e1e0dd;
}

.map-box .root_daum_roughmap .wrap_controllers {
    display: none;
}
.basic-view {
    width: 1025px;
    margin:0 auto;
}
.basic-view .title-box {
    position:relative;
    padding: 25px 0 25px 5px;
    border-top: 1px solid #bababb;
    border-bottom: 1px solid #bababb;
    margin-bottom: 50px;
}
.basic-view .title-box h3 {
    font-size:55px;
    color:#2c7ee5;
    font-weight: 800;
}
.basic-view .title-box .data {
    font-size:18px;
    color:#8c9395;
    position:absolute;
    bottom:30px;
    right:10px;
}
.basic-view .view-box {
    font-size:18px;
    line-height: 24px;
    color:#8c9395;
    padding-bottom: 50px;
    border-bottom: 1px solid #bababb;
}

.basic-view .btn-list {
   margin-top: 40px;
}
.basic-view .btn-list a {
    display: block;
    width: 104px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    color:#fff;
    background: #2c7ee5;
    font-size:22px;
    line-height: 35px;
}

.prosumer-pos {
    text-align: center;
    display: table;
    width: 80%;
    margin: 60px auto 0;
}
.prosumer-pos .basic-ico {
    display: table-cell;
    vertical-align: middle;
}
.prosumer-pos p {
    color:#fff;
    font-size:15px;
    line-height: 21px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
}
.prosumer-pos p.txt1 {
    margin: 50px 0;
}
.prosumer-pos p.txt2 {
    text-align: left;
    margin-left: 54px;
}
/* animation  */
[class*="drop-effect"] { position:relative; top: -80px; opacity:0; }
.active [class*="drop-effect"] { top: 0; opacity:1; transition-property:all; transition-duration: 0.3s; transition-timing-function:ease-in; }
.active .drop-effect1 { transition-delay:0.2s; }
.active .drop-effect2 { transition-delay:0.5s; }
.active .drop-effect3 { transition-delay:0.8s; }
.active .drop-effect4 { transition-delay:1.1s; }
.active .drop-effect5 { transition-delay:1.4s; }
.active .drop-effect6 { transition-delay:1.7s; }

[class*="up-effect"] {position:relative; top: 80px; opacity:0;}
.active [class*="up-effect"] { top: 0; opacity:1; transition-property:all; transition-duration: 0.3s; transition-timing-function:ease-in; }
.active .up-effect1 { transition-delay:0.2s; }
.active .up-effect2 { transition-delay:0.5s; }
.active .up-effect3 { transition-delay:0.8s; }
.active .up-effect4 { transition-delay:1.1s; }
.active .up-effect5 { transition-delay:1.4s; }
.active .up-effect6 { transition-delay:1.7s; }
.active.history .pos1 { top: 220px; }
.active.history .pos2 { top: 80px; }
.active.history .pos3 { top: 320px; }
.active.history .pos4 { top: 150px; }

[class*="left-effect"] { position:relative; left: 50px; opacity:0;}
.active [class*="left-effect"] { left:0; opacity:1; transition-property:all;  transition-duration: 0.3s; transition-timing-function:ease-in; }
.active .left-effect1 { transition-delay:0.2s; }
.active .left-effect2 { transition-delay:0.5s; }
.left-effect3 { left: 100px; }
.active .left-effect3 { transition-delay:0.8s; }
.left-effect4 { left: 200px; }
.active .left-effect4 { transition-delay:1s; }
.left-effect5 { left: 300px; }
.active .left-effect5 { transition-delay:1.2s; }
.left-effect6 { left: 400px; }
.active .left-effect6 { transition-delay:1.4s; }

[class*="right-effect"] { position:relative; right: 50px; opacity:0;}
.active [class*="right-effect"] { right:0; opacity:1; transition-property:all;  transition-duration: 0.3s; transition-timing-function:ease-in; }
.active .right-effect1 { transition-delay:0.2s; }
.active .right-effect2 { transition-delay:0.5s; }
.right-effect3 { right: 100px; }
.active .right-effect3 { transition-delay:0.8s; }
.right-effect4 { right: 200px; }
.active .right-effect4 { transition-delay:1s; }
.right-effect5 { right: 300px; }
.active .right-effect5 { transition-delay:1.2s; }
.right-effect6 { right: 400px; }
.active .right-effect6 { transition-delay:1.4s; }
.active .right-effect7 { transition-delay:1.6s; }
.active .right-effect8 { transition-delay:1.8s; }
.active .right-effect9 { transition-delay:2s; }