/*공용*/
.basic-tit01 {
    font-size: 45px;
    font-weight: 900;
    color: #2c7ee5;
}

.cont-txt {
    font-size: 15px;
    color: #8c9395;
    line-height: 21px;
    letter-spacing: -0.01em;
}

.base-contants {}

.base-contants .bx-wrapper {
    position: relative;
    height: 775px;
}

.base-contants .bx-wrapper .bx-controls {
    position: absolute;
    bottom: 30px;
    left: 50%;
}

.base-contants .bx-wrapper .bx-pager-item {
    display: inline-block;
}

.base-contants .bx-wrapper .bx-pager-item a {
    width: 11px;
    height: 11px;
    font-size: xx-small;
    color: transparent;
    background: #bcbdbd;
    border-radius: 11px;
    display: block;
    margin: 0 10px;
    ;
}

.base-contants .bx-wrapper .bx-pager-item a:hover,
.base-contants .bx-wrapper .bx-pager-item a.active {
    background: #2c7ee5;
}

.greeting {
    width: 100%;
    height: 817px;
    background: url(/images/img_company1.jpg) left 0 no-repeat;
    padding-left: 775px;
    box-sizing: border-box;
}

.greeting .txt-area {
    background: url(/images/bg_company1.png) 0 60px no-repeat;
    padding: 110px 0 0 0;
}

.greeting .txt-area .basic-tit01 {
    text-align: right;
    margin-bottom: 35px;
}

.greeting .txt-area .txt {
    text-align: justify;
    line-height: 37px;
    font-size: 17px;
    letter-spacing: 0;
    font-family: 'Nanum Gothic';
}

.greeting .txt-area .name {
    margin-top: 20px;
    font-weight: 800;
    letter-spacing: 0;
    text-align: right;
    height: 106px;
    padding: 50px 205px 0 0;
    background: url(/images/bg_company2.png) right top no-repeat;
    font-family: 'Nanum Gothic';
}

.history {
    position: relative;
    height: 815px;
    background: url(/images/img_company2.jpg) 0 0 no-repeat;
}

.history .dl-history {}

.history .dl-history dt {
    font-size: 60px;
    letter-spacing: -2px;
    font-weight: 700;
    margin-bottom: 10px;
}

.history .dl-history dt span {
    font-size: 27px;
    letter-spacing: 0
}

.history .dl-history dd {
    line-height: 28px;
    font-size: 15px;
    letter-spacing: 0;
    font-family: 'Nanum Gothic';
}

.history .pos1 {
    position: absolute;
    top: 220px;
    left: 75px;
}

.history .pos1 dt {
    color: #ae1717;
}

.history .pos2 {
    position: absolute;
    top: 80px;
    left: 377px;
}

.history .pos2 dt {
    color: #009d99;
}

.history .pos3 {
    position: absolute;
    top: 320px;
    left: 675px;
}

.history .pos3 dt {
    color: #008ed1;
}

.history .pos4 {
    position: absolute;
    top: 150px;
    right: 50px;
}

.history .pos4 dt {
    color: #ff3c00;
}

.certification {
    height: 982px;
    text-align: center;
    background: url(/images/img_company3.jpg) 0 0 no-repeat;
}

.certification .basic-tit01 {
    padding-top: 120px;
}

.certification .cont-txt {
    margin-top: 15px;
}

.partner {
    height: 494px;
    text-align: center;
    background: url(/images/img_company4.jpg) 0 0 no-repeat;
}

.partner .basic-tit01 {
    padding-top: 70px;
}

.partner .cont-txt {
    margin-top: 15px;
}









/* 공통 */
.basic-tit02 {
    font-family: 'Nanum Gothic';
    font-size: 44px;
    font-weight: 800;
    color: #2c7ee5;
}

.hide {
    font-size: 0;
    line-height: 0;
    color: transparent;
    height: 0;
}

/* business */
.business .visual {
    height: 710px;
    padding: 298px 0 0 865px;
    background: url(/images/bg_business01.png) 0 0 no-repeat;
}

.business .visual .basic-tit01 {
    display: block;
    margin-bottom: 10px;
    font-size: 48px;
    line-height: 1;
    text-align: left;
}

.business .visual .cont-txt {
    text-align: left;
}

.business .visual .ico-cont {
    margin-top: 30px;
}

.business .visual .ico-cont span {
    display: inline-block;
    margin-right: 65px;
    font-size: 15px;
    text-align: center;
    color: #8c9395;
    font-weight: 700;
    line-height: 1.2;
}

.business .visual .ico-cont span:before {
    content: '';
    display: block;
    width: 90px;
    height: 80px;
    margin-bottom: 10px;
    background: url(/images/icon_business.png) 4px 0 no-repeat;
}

.business .visual .ico-cont span:nth-child(2):before {
    background-position: -100px 0;
}

.business .visual .ico-cont span:nth-child(3):before {
    background-position: -192px 0;
}

.business .basic-tit01,
.business .basic-tit02,
.business .cont-txt {
    text-align: center;
}

.business .basic-tit01+.cont-txt {
    margin-top: 10px;
}

.business .basic-tit02+.cont-txt {
    margin-top: 20px;
}

.business .cont-img {
    text-align: center;
}

.business .cont1 {
    padding: 95px 0 120px;
    background: #efefef;
    text-align: center;
}


.business .cont-bs {
    margin-top: 100px;
}

.business .cont-bs>div {
    position: relative;
    display: inline-block;
    width: 272px;
    margin: 0 2px;
    padding-top: 246px;
    background: #fff;
}

.business .cont-bs strong {
    display: block;
    height: 82px;
    line-height: 82px;
    font-size: 25px;
    font-weight: 900;
    color: #fff;
    background: #2c7ee5;
}

.business .cont-bs strong:before {
    content: '';
    display: block;
    position: absolute;
    top: 54px;
    left: 50%;
    margin-left: -75px;
    width: 150px;
    height: 150px;
    background: #fff url(/images/icon_business.png) 0 -100px no-repeat;
}

.business .cont-bs .bs2 strong:before {
    background-position: -143px -100px;
}

.business .cont-bs .bs3 strong:before {
    background-position: -295px -100px;
}

.business .cont-bs .bs4 strong:before {
    background-position: -450px -100px;
}

.business .cont-bs [class*="bs"]:hover .bs-hover {
    opacity: 1;
    transition: 0.5s all;
}

.business .cont-bs .bs-hover {
    opacity: 0;
    transition: 0.5s all;
    position: absolute;
    top: -30px;
    left: -30px;
    width: 120%;
    height: 390px;
    padding: 80px 30px 100px;
    background: #2c7ee5;
    color: #fff;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4)
}

.business .cont-bs .bs-hover p {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.05em;
}

.business .cont-bs .bs-hover span {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    line-height: 100px;
    font-size: 25px;
    font-weight: 900;
    color: #fff;
    background: #2c7ee5;
}

.business .cont2 {
    height: 790px;
    padding-top: 100px;
    background: url(/images/bg_business02.png) 0 0 no-repeat;
}

.business .cont2 .basic-tit02 {
    color: #fff;
}

.business .cont3 {
    padding: 110px 0 90px;
}

.business .cont3 .cont-img {
    width: 1120px;
    margin: 90px auto 0;
}

.business .cont3 .cont-img>span {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    text-align: center;
}

.business .cont3 .cont-img strong {
    display: block;
    width: 434px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    font-size: 23px;
    color: #fff;
    background: #2c7ee5;
    text-align: center;
}

.business .cont3 .cont-img strong em {
    font-size: 15px;
    font-style: normal;
    vertical-align: top;
}

.business .cont4 {
    padding: 125px 195px 135px;
    background: #efefef;
}

.business .cont4 .cont-img {
    margin-top: 65px;
}

.business .cont4 h3 {
    margin: 65px 0 25px;
    text-align: center;
    font-size: 24px;
    color: #2c7ee5;
    font-family: 'Nanum Gothic';
}

.business .cont5 {
    padding: 115px 150px 0;
}

.business .cont5 .bs-system {}

.business .cont5 .bs-system .basic-tit01 {
    text-align: left;
    line-height: 1.2;
}

.business .cont5 .bs-system p {
    width: 512px;
    text-align: justify;
    line-height: 24px;
}

.business .cont5 .bs-system {
    padding-right: 50%;
    height: 420px;
    background: url(/images/bg_business03.png) 100% 0 no-repeat;
}

.business .cont5 .bs-info {
    margin: 0 -150px;
    height: 524px;
    padding: 235px 132px 0;
    background: url(/images/bg_business04.png) 0 bottom no-repeat;
}

.business .cont5 .bs-info dl {
    display: inline-block;
    width: 490px;
    margin: 0 30px;
    color: #fff;
    font-size: 23px;
    text-align: center;
}

.business .cont5 .bs-info dt {
    margin-bottom: 16px;
    font-weight: 600;
}

.business .cont5 .bs-info dd {
    line-height: 52px;
}

.contact .cont1 { padding:140px 150px; }
.contact .cont-form { float: left; display: table; width:615px; padding: 20px 45px; background: #8c9395; }
.contact .cont-form li { margin: 12px 0; }
.contact .cont-form label { display: table-cell; vertical-align: middle; width: 65px;  color: #fff; font-size: 15px; font-weight: 700; }
.contact .cont-form input, 
.contact .cont-form textarea { width:100%; height: 36px; border: 1px solid #a9aaab; background: #fff; }
.contact .cont-form textarea { height:248px;}
.contact .cont-form span { display:table-cell; padding-left:20px; width: 420px;}
.contact .cont-info { float: right; width: 415px; }